<div class="container authors-wrapper">
  <div class="row">
    <div
      class="col-lg-3 col-sm-6 col-12 p-5"
      *ngFor="
        let author of authors | paginate : { itemsPerPage: 8, currentPage: p }
      "
    >
      <div class="card border-0 text-center author-card">
        <div class="author-img-wrapper overflow-hidden">
          <img
            [src]="author.image"
            class="card-img-top rounded-0 object-fit-cover author-cover"
            alt="author-cover"
            style="height: 300px"
            (click)="onProductClick(author._id)"
          />
        </div>
        <div class="card-body">
          <h5
            class="card-title author-title"
            (click)="onProductClick(author._id)"
          >
            {{ author.name }}
          </h5>
        </div>
      </div>
    </div>
    <div class="pagination-controls text-center">
      <pagination-controls
        (pageChange)="p = $event"
        [autoHide]="true"
      ></pagination-controls>
    </div>
  </div>
</div>
