<div class="notFoundContainer">
  <div class="card text-center">
    <div class="card-header">Page Not Found</div>
    <div class="card-body">
      <div class="icon-div">
        <fa-icon [icon]="faBan"></fa-icon>
      </div>
      <h5 class="card-title">Oops! This page does not exist.</h5>
      <p class="card-text">
        The page you're looking for might have been removed, had its name
        changed, or is temporarily unavailable.
      </p>
      <a routerLink="/" class="btn">Go to Homepage</a>
    </div>
    <div class="card-footer text-muted">Thank You</div>
  </div>
</div>
