.card {
  border: none; /* Optional: Remove card border */
}

.card-img-top {
  height: 200px; /* Set a fixed height for images */
  object-fit: cover; /* Ensure image covers the area without distortion */
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
}

/* Customize anchor links */
.categoryAncor {
  color: #343a40; /* Default color */
  text-decoration: none;
}

.categoryAncor:hover {
  color: #5aa381; /* Hover color */
}

/* Customize category title */
.category-title {
  font-size: 2rem;
  color: #343a40;
  text-decoration: none;
}

.category-title:hover {
  color: #5aa381;
}

/* Button customization */
.btn-custom {
  /* color: #5aa381; */
  background-color: #4a8d6d;
  color: #fff;
}

.btn-custom:hover {
  background-color: var(--hover-color);
}
