<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4 text-center display-3">Book Categories</h2>

      <div class="row">
        <!-- Loop through each category -->
        <div *ngFor="let category of categories" class="col-md-12 mb-4">
          <h3 class="mb-3">
            <a
              [routerLink]="['/category-details', category._id]"
              class="category-title"
              >{{ category.name }}</a
            >
          </h3>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Loop through each book within the category -->
            <div *ngFor="let book of category.books" class="col">
              <div class="card h-100 shadow-lg">
                <img
                  [src]="book.image"
                  alt="{{ book.name }}"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title fs-5 mb-2">
                    <a
                      [routerLink]="['/book', book._id]"
                      class="categoryAncor"
                      >{{ book.name }}</a
                    >
                  </h5>
                  <p class="card-text mb-2">
                    <a
                      [routerLink]="['/author-details', book.authorId]"
                      class="text-primary"
                      >{{ book.author }}</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <a
              [routerLink]="['/category-details', category._id]"
              class="btn btn-custom btn-lg"
              >More {{ category.name.toLowerCase() }}...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
