<section class="register--forms">
  <div class="login--Section">
    <div class="login--container">
      <form
        [formGroup]="registerForm"
        class="login-form"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <h2 class="form-title">Register To GoodReads</h2>

        <!-- Display error message -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="mb-3">
          <label for="name" class="form-label"
            >Name <span class="required-indicator">*</span></label
          >
          <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Your Name"
          />
          <div
            *ngIf="
              registerForm.get('name')?.touched &&
              registerForm.get('name')?.invalid
            "
            class="form-text text-danger fs-6"
          >
            <div *ngIf="registerForm.get('name')?.hasError('required')">
              Name is required.
            </div>
            <div *ngIf="registerForm.get('name')?.hasError('minlength')">
              Name must be at least 3 characters long.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label"
            >Email address <span class="required-indicator">*</span></label
          >
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email Address"
          />
          <div
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid
            "
            class="form-text text-danger fs-6"
          >
            <div *ngIf="registerForm.get('email')?.hasError('required')">
              Email is required.
            </div>
            <div *ngIf="registerForm.get('email')?.hasError('email')">
              Please enter a valid email address.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label"
            >Username <span class="required-indicator">*</span></label
          >
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Username"
          />
          <div
            *ngIf="
              registerForm.get('username')?.touched &&
              registerForm.get('username')?.invalid
            "
            class="form-text text-danger fs-6"
          >
            <div *ngIf="registerForm.get('username')?.hasError('required')">
              Username is required.
            </div>
            <div *ngIf="registerForm.get('username')?.hasError('minlength')">
              Username must be at least 3 characters long.
            </div>
            <div *ngIf="registerForm.get('username')?.hasError('pattern')">
              Username cannot contain spaces.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label"
            >Password <span class="required-indicator">*</span></label
          >
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <div
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
            class="form-text text-danger fs-6"
          >
            <div *ngIf="registerForm.get('password')?.hasError('required')">
              Password is required.
            </div>
            <div
              *ngIf="registerForm.get('password')?.hasError('strongPassword')"
            >
              Password must be at least 8 characters long, with at least one
              uppercase letter, one special character, and one number.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Retype Password <span class="required-indicator">*</span></label
          >
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Retype Password"
          />
          <div
            *ngIf="
              registerForm.hasError('passwordMismatch') &&
              registerForm.get('confirmPassword')?.touched
            "
            class="form-text text-danger fs-6"
          >
            Passwords do not match.
          </div>
        </div>

        <div class="mb-3">
          <label for="profileImage" class="form-label"
            >Upload Profile Image
            <span class="required-indicator">*</span></label
          >
          <input
            type="file"
            class="form-control"
            (change)="onFileSelected($event)"
            required
            name="avatar"
          />
        </div>

        <button type="submit" class="btn" [disabled]="registerForm.invalid">
          Register
        </button>
        <div class="dont--have-acount">
          <h6>Already have an Account ? <a routerLink="/login">Login</a></h6>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-image">
    <img src="images/bookrow.jpg" alt="" />
  </div>
</section>
