<!-- Start Footer  -->
<footer>
  <div class="footer--container">
    <div class="footer-main" id="carsualMain">
      <div class="footer--container-1">
        <div class="footer-img">
          <img src="images/logo-dark.png" alt="" />
        </div>
        <div class="footer-desc">
          <p>
            When a child gets access to good food, it can change just about
            everything. Sed do eiusmod tempor incididunt dolore magna aliqua.
          </p>
        </div>
        <div class="footer-icons">
          <button class="icon">
            <a href="#">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </button>
          <button class="icon">
            <a href="#">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </button>
          <button class="icon">
            <a href="#">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </button>
          <button class="icon">
            <a href="#">
              <fa-icon class="icon--hover" [icon]="faYoutube"></fa-icon>
            </a>
          </button>
        </div>
      </div>
      <div class="footer--container-2">
        <h4>Navigation</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services </a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="footer--container-2">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="#">4486 Richards Avenue, Modesto CA - 95354</a></li>
          <li><a href="#">209-818-6041</a></li>
          <li><a href="#">charity90gmail.com </a></li>
        </ul>
      </div>
      <div class="footer--container-3">
        <h4>Support</h4>
        <p>When a child gets access to good food, it can change.</p>
        <button class="btn btu1"><a href="#"> Join us Today </a></button>
      </div>
    </div>
    <div class="footer-copy">
      <p>
        Copyright © 2024 All rights reserved | This template is made with
        <i class="fa-solid fa-heart"></i> by
        <span>Colorlib </span>
      </p>
    </div>
  </div>
</footer>

<!-- End Footer  -->
