.book-card {
  transition: 0.3s all ease;
}

.book-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.book-cover {
  transition: 0.3s all ease;
  cursor: pointer;
}

.book-card:hover .book-cover {
  transform: scale(1.1);
}

.book-card .book-title {
  transition: 0.3s all ease;
  cursor: pointer;
  font-size: 16px;
}

.book-card:hover .book-title {
  color: var(--hover-color);
}

.book-card .book-author {
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.book-card .book-author:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

