<!-- Hero Section  -->
<div class="header--container">
  <div class="container login--container">
    <div class="login--contents">
      <div class="newAccountBox">
        <h2>Discover & read more</h2>
        <div class="contaainer--btns">
          <button class="btn btn--common btn-amazon">
            <a href="">
              <fa-icon [icon]="faAmazon"></fa-icon>Continue with Amazon
            </a>
          </button>
          <button class="btn btn--common">
            <a href="">
              <fa-icon [icon]="faApple"></fa-icon>Continue with Apple
            </a>
          </button>
          <button class="btn btn--common sign-up-btn">
            <a routerLink="/register"> Sign up with Email </a>
          </button>
        </div>
        <div class="legal">
          <div class="legalMessage">
            By creating an account, you agree to the Goodreads
            <a href="">Terms of Service</a>
            and
            <a href="">Privacy Policy</a>
          </div>
        </div>
        <div class="signIn">
          <div class="signIn--main">
            <div class="signInContent">
              Already a member?<a routerLink="/login">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section  -->

<!-- #Learn  -->
<section class="section hero" id="home" aria-label="home">
  <div class="container heroo--contaiener">
    <div class="hero-content">
      <p class="section-subtitle">Let's Make The Best Investment</p>
      <h1 class="h1 hero-title">
        Read More And Make Success The Result Of Perfection.
      </h1>
      <p class="section-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad harum
        quibusdam, assumenda quia explicabo.
      </p>
    </div>

    <div class="hero-banner has-before">
      <img
        src="images/hero-banner.png"
        width="431"
        height="596"
        alt="things i never said, a novel by claudia wilson"
        class="w-100"
      />

      <button class="play-btn bg-white" aria-label="play video">
        <fa-icon class="" [icon]="faPlay"></fa-icon>
      </button>
    </div>
  </div>
</section>
<!-- #Author -->
<section class="section author" id="author">
  <div class="container">
    <h1>Popular Authors</h1>
    <div class="all--authors-container">
      <div *ngFor="let author of authors" class="single--author--container">
        <figure class="author-banner img-holder" style="">
          <img
            [src]="author.image || 'images/author-banner.png'"
            width="30%"
            height=""
            loading="lazy"
            alt="Martin Jenny"
            class="img-cover"
          />
        </figure>
        <div class="author-content">
          <p class="section-subtitle">The Author</p>

          <h2 class="h2 section-title">
            {{ author.name || "Unknown Author" }}
          </h2>

          <p class="author-name">
            Number Of Published Books : {{ author.books.length }}
          </p>

          <div class="section-text">
            {{ truncateDescription(author.bio, 100) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Benefits  -->

<section class="section benefits" id="benefits" aria-label="benefits">
  <div class="container m-auto">
    <div class="d-flex gap-lg-5 main--benefits">
      <li class="benefits--items">
        <h2 class="h2 section-title">What you'll achieve by Reading books</h2>

        <p class="section-text fs-6">Meet Your Favorite Book</p>
      </li>
      <li *ngFor="let book of books; let i = index" class="benefits--items">
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img
              [src]="getImageByIndex(i)"
              width="40"
              height="40"
              loading="lazy"
              [alt]="book.title || 'Benefit Image'"
            />
          </div>

          <h3 class="h3 card-title fs-5">{{ book.title || "Strategy" }}</h3>

          <p class="card-text">
            {{
              truncateDescription(
                book.description || "Lorem ipsum dolor sit amet...",
                50
              )
            }}
          </p>

          <a href="#" class="btn-link">
            <span class="span"> <a routerLink="/login">Read more</a></span>
          </a>
        </div>
      </li>
      <!-- <li class="benefits--items">
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img
              src="images/benefits-2.svg"
              width="40"
              height="40"
              loading="lazy"
              alt="Motivation"
            />
          </div>

          <h3 class="h3 card-title">Motivation</h3>

          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ex? Voluptas minus quis aspernatur corporis.
          </p>

          <a href="#" class="btn-link">
            <span class="span">Read more</span>

          </a>
        </div>
      </li>

      <li class="benefits--items">
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img
              src="images/benefits-6.svg"
              width="40"
              height="40"
              loading="lazy"
              alt="Strategy"
            />
          </div>

          <h3 class="h3 card-title">Strategy</h3>

          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ex? Voluptas minus quis aspernatur corporis.
          </p>

          <a href="#" class="btn-link">
            <span class="span">Read more</span>


          </a>
        </div>
      </li>
      <li class="benefits--items">
        <div class="benefits-card has-before has-after">
          <div class="card-icon">
            <img
              src="images/benefits-6.svg"
              width="40"
              height="40"
              loading="lazy"
              alt="Strategy"
            />
          </div>

          <h3 class="h3 card-title">Strategy</h3>

          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ex? Voluptas minus quis aspernatur corporis.
          </p>

          <a href="#" class="btn-link">
            <span class="span">Read more</span>
          </a>
        </div>
      </li> -->
    </div>
  </div>
</section>
