/* Ensure card images are responsive */
.card-img-top {
  height: auto;
}

.categoryAncor {
  color: #343a40;
  text-decoration: none;
}

.categoryAncor:hover {
  color: #5aa381; /* Hover color */
}

/* Button customization */
.btn-custom {
  background-color: #5aa381; /* Button background color */
  color: #fff; /* Button text color */
}

.btn-custom:hover {
  background-color: #4a8d6d; /* Button hover background color */
  color: #fff; /* Button text color on hover */
}
