@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.table-responsive{
    border: none;
}
.list-group-item,.page-link{
    cursor: pointer;
}
.list-group-item {
    border: none;
}

/* Hover effect for the dropdown items */
.list-group-item:hover {
    background-color: var(--hover-color);
    color: white;
    
}

/* Active item style */
.list-group-item.active {
    background-color: var(--hover-color);
    border-color: #5aa381;
}

