/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --primary-color: #f4f2e9;
  --secondary-color: #377458;
  --black-color: black;
  --white-color: #ffff;
  --text-color: #333333;
  --hover-color: #5aa381;
  --star-color: #f8c15d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;

  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
