.book-cover img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.book-title {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
}

.book-author {
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.book-author:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.book-category span {
  cursor: pointer;
  transition: 0.3s ease all;
}

.book-category span:hover {
  color: var(--hover-color);
}

.book-cover .dropdown button {
  background: transparent;
  color: var(--text-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-item {
  transition: 0.3s all ease;
  &:hover {
    background-color: var(--hover-color);
    color: #fff;
  }
}

.book-reviews {
  padding: 3rem 2rem;
  padding-bottom: 0;
}

.book-review-header {
  position: absolute;
  top: -22px;
  padding: 10px 1rem;
  background-color: var(--white-color);
}