<div class="container-fluid layout--container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="books-tab"
        data-bs-toggle="tab"
        href="#books"
        role="tab"
        aria-controls="books"
        aria-selected="true"
      >
        Books
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="authors-tab"
        data-bs-toggle="tab"
        href="#authors"
        role="tab"
        aria-controls="authors"
        aria-selected="false"
      >
        Authors
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="genres-tab"
        data-bs-toggle="tab"
        href="#genres"
        role="tab"
        aria-controls="genres"
        aria-selected="false"
        >Genres</a
      >
    </li>
  </ul>
  <div class="tab-content mt-3">
    <div
      class="tab-pane fade show active"
      id="books"
      role="tabpanel"
      aria-labelledby="books-tab"
    >
      <app-books-table></app-books-table>
    </div>
    <div
      class="tab-pane fade"
      id="authors"
      role="tabpanel"
      aria-labelledby="authors-tab"
    >
      <app-authors-table></app-authors-table>
    </div>
    <div
      class="tab-pane fade"
      id="genres"
      role="tabpanel"
      aria-labelledby="genres-tab"
    >
      <app-genres-table></app-genres-table>
    </div>
  </div>
</div>
